.filter__container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.filter__input {
  margin-left: auto;
  max-width: 20%;
}

button {
  min-width: unset;
}

:host >>> ngx-datatable {
  margin: 0 10px;
}

:host >>> .ngx-datatable.material {
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37) !important;
}
